body {
    background-image:url("../images/newspaper_bkgrd.jpg");
}


.jumbotron {
    margin: 5px 20px 20px 20px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Bevan', cursive;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-header {
    background-color: #000;
    color:#000;
}


.display-4 {
    text-align: center;
    color: white;   
}
.card {
    margin: 5px 20px 20px 20px;
}
.row {
    margin: 20px 5px;
}
.buttons {
    display: inline;
}
.navbar {
    margin
}